<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Password</title>
    <br>
    <h1>This is the about page for the password generator tool</h1>
    </br>
    <br>
    <p1>
        This about page is to solve the challenge from django web
        development course. The password generator tool is a django app
        that creates random passwords based on user input created to
        learn all basics for django back end development.
    </p1>
    </br>
    <br>
    <a href="{% url 'home' %}">Home</a>
    </br>
</head>
<body>

</body>
</html>